.title-featured{
font-weight: 800;
font-size: 20px;
margin-top: 50px;
color: #212121 !important;
}
.title-featured1{
    font-weight: 800;
    font-size: 14px;
    padding-top: 10px;
    color: #212121 !important;
    }

.div-featured{
padding-top:10px;
width:90%;
margin: 0 auto;
text-align: center;
}


.product-card .product-card-inner .product-image-wrapper .product-image-inner .product-image.image-size-contain {
    width: 70%;
    height: 85%;
}

.product-image{
    width:100% !important;
}

.small-title {
    font-family: var(--font-heading-small-title);
    letter-spacing: var(--font-heading-small-title-spacing);
    font-weight: 800!important;
    text-transform: uppercase;
    font-size: var(--font-heading-small-title-size-mobile);
    line-height: 1.5rem;
}

.small-title-det {
    letter-spacing: var(--font-heading-small-title-spacing);
    font-weight: 300 !important;
    font-size: 18px;
    line-height: 1.9rem;
    padding-top: 15px;
}

.btn-sale{
    width: 65%;
    margin: 40px auto;
}

.h1-sale{
    font-size: 2.2vw;
    margin-bottom: 40px;
    color: #000000 !important;
}

.button_text-sale{
    font-size: 15px;
}

.div-center{
    text-align: center;
}

.div-padding-bottom{
padding-bottom: 50px;
}

.div-padding-top{
    padding-top: 150px;
    }

.featured-product .featured-product__info {
    margin:0;
    width: 100% !important;
}

.featured-product {
    margin: auto 10px auto;
}

.title-p{
  font-weight: 800;
}

.button{
    background-color: #212121 !important;
    color: #ffc31a !important;

}

.button:hover{
    background-color: #ffc31a !important;
    color: #000 !important;
}


.button.primary .arrow svg g{
    stroke: #ffc31a !important;
}

.button:hover.primary .arrow svg g{
    stroke: #000 !important;
}

.h1{
color: #000000 !important;
}    

/*.featured-product .card-background {
    background-image: url(../img/Delta-8-Button.png);
    background-repeat: no-repeat;
    background-size: cover;
}*/

.color_theme__light p{
    color:#fff !important;
    font-size:25px;
}

.color_theme__dark p{
    color: #212121 !important;
}

.btn-yellow{
    background-color: #ffc31a !important;
    color: #212121 !important;
}

.button-yellow{
    color:#212121 !important;
}


.primary .button-yellow .arrow svg g {
    stroke: #212121 !important;
}



section.mfr-core__image-section .image-wrapper.circle:after {
    animation-name: rotating;
    animation-duration: 56s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 723 723'%3E%3Cpath d='M361.5 722C560.599 722 722 560.599 722 361.5S560.599 1 361.5 1 1 162.401 1 361.5 162.401 722 361.5 722Z' stroke='%23450073' stroke-width='2' fill='none' fill-rule='evenodd' stroke-dasharray='10'/%3E%3C/svg%3E");*/
    background-image: url('../img/circulo.svg');
}

.product-card .product-card-inner .product-card__add-to-cart-plus {
    background: #212121;
}


.container {
    padding-top: 100px;
  }
  .box {
    width: 20rem;
    height: auto;
    /*background-color: dodgerblue;
    border-radius: 20%;
    display: inline-block;
    border: 1px solid black;*/
  }
  
  .box1{
    width: 20rem;
    height: auto;
   /* background-color: dodgerblue;
    border-radius: 20%;
    display: inline-block;
    border: 1px solid black;*/
  }
  
  .box2 {
    width: 20rem;
    height: auto;
    /*background-color: dodgerblue;
    border-radius: 20%;
    display: inline-block;
    border: 1px solid black;*/
  }

  .button.secondary .arrow svg g{
    stroke:#ffc31a !important;
  }