/* Text Elements */

h4 {
  text-align: center;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

h4.feature-heading {
  color: #065bee;
  text-align: left;
  text-transform: capitalize;
  font-weight: 100;
  font-variant: normal;
  font-size: 25px;
  font-family: 'Nova Slim', cursive;
}

h4.feature-heading:hover {
  color: #e200d6;
}

p.paragraph {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
  color: #555;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

p.paragraph.block-paragraph {
  text-align: left;
}

/* Layout Elements */

.row > [class*='col-xs-'].feature-column {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

 .row.skils-row {
  max-width: 1200px;
}

.container-fluid.feature-container {
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 300px;
}

span.glyph.feature-icon {
  color: #eeb706;
  text-align: center;
  font-size: 30px;
}

span.glyph.feature-icon:hover {
  color: #e200d6;
}

.container-fluid.feature-container:hover {
  box-shadow: rgba(0, 0, 0, .5) 5px 5px 10px 0;
  opacity: .99;
}

@media screen and (min-width: 321px) {
  .container-fluid.feature-container {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
  }
}

@media screen and (min-width: 768px) {
  /* Text Elements */

  h4.feature-heading {
    font-size: 26px;
  }
}

@media screen and (min-width: 992px) {
  /* Text Elements */

  h4.feature-heading {
    font-weight: 400;
  }

  /* Layout Elements */

  body > .row.skils-row {
    padding-bottom: 90px;
  }

  body > .row > [class*='col-xs-'].feature-column {
    -webkit-transform: rotateX(0deg);
       -moz-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }

  span.glyph.feature-icon {
    text-align: center;
  }

  .container-fluid.feature-container {
    -webkit-transform: rotateY(0deg) rotateZ(0deg);
       -moz-transform: rotateY(0deg) rotateZ(0deg);
            transform: rotateY(0deg) rotateZ(0deg);
  }
}